[submodule "chia_blockchain"]
	path = chia_blockchain
	url = https://github.com/Chia-Network/chia-blockchain
[submodule "silicoin_blockchain"]
	path = silicoin_blockchain
	url = https://github.com/silicoin-network/silicoin-blockchain
[submodule "ethgreen_blockchain"]
	path = ethgreen_blockchain
	url = https://github.com/ethgreen/ethgreen-blockchain
[submodule "melon_blockchain"]
	path = melon_blockchain
	url = https://github.com/mELON-Network/melon-blockchain
[submodule "skynet_blockchain"]
	path = skynet_blockchain
	url = https://github.com/SkynetNetwork/skynet-blockchain
[submodule "staicoin_blockchain"]
	path = staicoin_blockchain
	url = https://github.com/STATION-I/staicoin-blockchain
