[submodule "chia_blockchain"]
	path = chia_blockchain
	url = https://github.com/Chia-Network/chia-blockchain
[submodule "silicoin_blockchain"]
	path = silicoin_blockchain
	url = https://github.com/silicoin-network/silicoin-blockchain
[submodule "ethgreen_blockchain"]
	path = ethgreen_blockchain
	url = https://github.com/ethgreen/ethgreen-blockchain
